.header-container {
    position: fixed;
    display: flex;
    z-index: 10000;
}

.header-menu {
    gap: 10px;
}

@media only screen and (min-width: 1024px) {
    header {
        padding: 1rem 9%;

    }

    .menus {
        display: flex;
        gap: 10px;

        a {
            font-size: 17px;
        }
    }

    .header-menu {
        display: flex;
        justify-content: center;
        padding: 10px;

    }
}

.menus {
    a {
        color: rgb(75, 75, 75) !important;
        text-decoration: none;
        cursor: pointer;
    }

    a.active {
        text-decoration: underline;
    }
}

@media only screen and (max-width: 900px) {
    .header-menu.show {
        display: grid;
    }

    .header-menu.hide {
        display: none;
    }

    .menus {
        display: grid;
        gap: 10px;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 20%;
        left: 0px;
        box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.158);

        a {
            font-size: 13px;
        }
    }

    .header-menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(6, 6, 6, 0.077);
        backdrop-filter: blur(1px);

    }
}

.header-container.nav-scrolled {
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.158);

    .header-menu>a {
        color: rgb(86, 86, 86) !important;
    }
}

.header-row {
    width: 90%;
}

.logoname {
    color: rgb(44, 127, 199);
    font-weight: 600;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.user-menu-select {
    padding: 10px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;

    &:hover {
        .user-dropboxs {
            display: grid;
        }
    }
}

.user-username {
    color: rgb(38, 125, 200);
    font-size: 13px;
}

.user-email {
    color: rgb(96, 96, 96);
}

.user-dropboxs {
    position: absolute;
    width: 100%;
    bottom: -60px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    display: none;
    gap: 5px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.186);
}

.user-dropbox-box {
    padding: 5px;
    font-size: 12px;
    color: rgb(52, 52, 52);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
        background-color: rgb(240, 240, 240);
    }
}