.select-box-ui-qr-ling {
    option {
        background-color: black;
    }
}

.travelv-btns:hover {
    opacity: 0.7 !important;
}
.page-control{
    width: 300px;
    display: flex;
    background-color: white;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 10px;
    align-items: center;
    padding: 5px;
    gap: 5px;
}
